#note-list{
    width: 100%;
}
.list-note-item{
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}
.list-note-item:hover{
    background-color: khaki;
}
.click-container{
    width: 80%;
    cursor: pointer;
    padding: 20px;
}
.overlay-small{
    box-sizing: border-box;
    position: absolute;
    background: white;
    opacity: 0.8;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    transition: height 0.3s, width 0.3s, opacity 0.3s, padding 0.3s;
    opacity: 0;
    padding: 0px;
}
.revealing-sm-overlay{
    padding: 20px;
    z-index: 200;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.error-user-no-exist{
    color: tomato;
}