textarea{
    background: khaki;
    max-width: 900px;
    width: 80%; 
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
}
.content{
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s;
    padding: 10px;
}
.content:hover{
    background-color: lightgoldenrodyellow;
}
.error{
    color: tomato;
}
#note-view{
    position: relative;
}
